* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(106, 209, 223);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
    background-color: rgb(106, 209, 223);
    height: 70px;
}
.logo {
    float: left;
    padding: 10px;
}
.logo img {
    width: 80px;
    height: 50px;
}
.menu {
    float: right;
    margin: 24px;
}
.menu a {
    color: black;
    text-decoration: none;
    padding: 15px;
}
.banner, .bannerObra{
    background-image: url(../img/gabo.jpg);
    background-size: cover;
    height: 550px;
}
.banner h1, .bannerObra h1{
    text-align: right;
    font-size: 80px;
    padding: 150px 50px;
}
.obras {
    width: auto;
    margin: auto;
}
.obras .tdObras {
    padding: 50px;
}
.botonObras {
    width: 90px;
    height: 90px;
    background-color: #f2f03c;
    border-radius: 90px;
    padding: 10px;
    text-align: center;
    line-height: 85px;
}
.botonObras:hover {
    opacity: 0.9;
}
.botonObras a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.biografia, .seccionObra {
    background-color: #009500;
    color: white;
    padding: 20px 100px 70px 100px;
    text-align: justify;
}
.seccionObra {
    background-color: #f2f03c;
    color: black;
}
.seccionObra img {
    float: left;
    width: 300px;
    margin-right: 50px;
    padding-top: 20px
}
.seccionObra a {
    line-height: 80px;
    font-size: 20px;
}
.biografia h2, .seccionObra h2 {
    text-align: center;
    padding: 10px;
    font-size: 50px;
}
.seccionObra p {
    font-size: 20px;
    padding-top: 40px;
}
.seccionObra h3 {
    font-size: 20px;
    line-height: 50px;
}
.biografia p{
    padding-top: 40px;
    font-size: 25px;
}
.premios {
    text-align: center;
    padding: 10px;
}
.premios table {
    padding: 30px 100px;
}
.premios h2 {
    font-size: 45px;
}
.premios td {
    font-size: 25px;
    text-align: left;
    padding: 0px 20px;
}
.premios .year {
    background-color: #FDA824;
    font-weight: bold;
    border: 2px solid blue;
    padding: 2px 10px;
}
footer {
    background-color: #009500;
    color: white;
    text-align: center;
    padding: 20px 100px;
    font-size: 25px;
}